@media (max-width: 768px) {
    html {
        font-size: 12px;
    }

    body {
        font-size: 1rem;
    }

    button,
    input,
    select,
    textarea {
        font-size: inherit;
    }

    .menu-btn {
        font-size: var(--font-sm);
    }
}